@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

@layer base {
  body {
    @apply font-[Poppins];
  }
  li {
    @apply px-4;
  }
}
/* dark/light mode toggle button Start here */
input:checked ~ .thisToggle {
  background: #ffc448;
}
.thisSun {
  transform: scale(0);
}
input:checked ~ .thisMoon {
  transition-delay: 0.5s;
  transform: rotate(360deg) scale(0);
}
input:checked ~ .thisSun {
  transition-delay: 0.8s;
  transform: scale(1) rotate(360deg);
}
/* dark/light mode toggle button End here */

/* blub animation delay */
.animationDelay-2000 {
  animation-delay: 2s;
}
.animationDelay-4000 {
  animation-delay: 4s;
}

/* finger print animation */

.print {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}
.print svg {
  stroke-width: 4;
  width: 130px;
}
.print svg .path-1 path {
  stroke: rgb(0, 0, 0);
}
.print svg .path-2 path {
  stroke: #6244c5;
  stroke-dashoffset: 120;
  stroke-dasharray: 120;
  filter: url(#filter-1);
  -moz-transition: all 0.9s ease-in;
  -o-transition: all 0.9s ease-in;
  -webkit-transition: all 0.9s ease-in;
  transition: all 0.9s ease-in;
}
.print svg:hover .path-2 path {
  stroke-dashoffset: 0;
}
